@import "_common";
@import "sections/header";
@import "sections/banner";
@import "sections/app";
@import "sections/psycholog";
@import "sections/help";
@import "sections/advantage";
@import "sections/steps";
@import "sections/about";
@import "sections/how-work";
@import "sections/services";
@import "sections/app2";
@import "sections/reviews";
@import "sections/online";
@import "sections/footer";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
