@import "_common";
@import "sections/header";
@import "sections/banner";
@import "sections/app";
@import "sections/psycholog";
@import "sections/help";
@import "sections/advantage";
@import "sections/steps";
@import "sections/about";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
