.app2__inner {
  position: absolute;
  width: 1670px;
  height: 497px;
  left: 400px;
  top: 6291px;
}
.section__title-app2 {
  position: relative;
  width: 432.11px;
  height: 86px;
  left: 0px;
  top: -7px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #0e0e0f;
}
.speakLogo {
  margin: 0;
  padding: 0;
  position: relative;
  left: 2px;
  top: -136px;
}
.img__appstore {
  position: relative;
  left: -29px;
  top: -104px;
}
.img__googleplay {
  position: relative;
  right: 0px;
  top: -104px;
}
.app2__inner-right {
  position: relative;
  left: 624px;
  top: -502px;
}
