.help__inner {
  position: absolute;
  width: 1670px;
  height: 393.7px;
  left: 0;
  top: 0;
}

.help__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 678px;
  height: 308px;
  left: 400px;
  top: 2022px;

  border-radius: 24px;
}
.menu__help {
  // margin: 0;
  // padding: 0;
  // width: 678px;
  // display: flex;
  // flex-direction: column;
  // gap: 0px;
  // position: relative;
  // left: 0;
  // top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 533px;
  height: 225px;
  left: 38px;
  top: -24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 40px 0px;
}
.menu__help-item {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // padding: 0px;
  // gap: 0;
  list-style: none;
}
.section__title-help {
  position: static;
  width: 678px;
  height: 43px;
  left: 0px;
  top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
}
.help__txt {
  position: relative;
  height: 25px;
  left: -20px;
  top: -1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 10px;
}

.icon__ellipse {
  position: relative;
  width: 20px;
  height: 20px;
  right: 52px;
  top: 26px;
}
.icon__check {
  position: relative;
  right: 34px;
  top: 21px;
}

.help__right {
  position: absolute;
  width: 436px;
  right: 361px;
  top: 1992px;
  bottom: 6596.3px;
}
.help__right-img {
  position: absolute;
  width: 436px;
  left: 250px;
  top: 0;
  bottom: 6596.3px;
}
