.steps__inner {
  position: absolute;
  width: 1698px;
  height: 559px;
  left: 400px;
  top: 3256px;
}
.steps__inner-title {
  position: static;
  width: 606px;
  height: 43px;
  left: 0px;
  top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}
.steps__inner-txt {
  position: static;
  width: 397px;
  height: 25px;
  left: 0px;
  top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #00b9b6;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px 0px;
}
.steps__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  // gap: 10px;

  // position: absolute;
  // width: 740px;
  // height: 444px;
  // left: 400px;
  // top: 3371px;
}
.steps__menu-item {
  list-style: none;
  position: static;
  width: 740px;
  height: 128px;
  left: 0px;
  top: 316px;

  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 30px 0px;
}
.steps__num {
  position: relative;
  width: 100px;
  height: 128px;
  left: 0;
  top: -14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  margin: 0;
  padding: 0;
  /* identical to box height, or 128px */

  /* txt / accent */

  color: #00b9b6;

  opacity: 0.1;
}
.steps__title {
  position: relative;
  height: 28px;
  left: 47px;
  top: -121px;
  margin: 0;
  padding: 0;

  /* decktop/h/ h5 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  /* txt/black */

  color: #0e0e0f;
}
.steps-txt {
  position: relative;
  width: 690px;
  height: 54px;
  left: 48px;
  top: -121px;
  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  /* txt/black_lighten */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 5px 0px;
}
.steps__img {
  position: relative;
  width: 408px;
  height: 428px;
  left: 740px;
  top: -560px;
}
